* {
    margin: 0;
    padding: 0;

}
body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: #0a0a0a;
    padding: 20px 0 0 0;
    font-family: Arial, Verdana, sans-serif;
}